

/*
Author: Bootstrap Themes
Author URI: http://bootstrapthemes.co
*/

/*==========================================
 01.  PREDIFINEED (FROM 1 TO 780 )
 02.  PRELOADER - LINE NO 786
 03.  NAVIGATION - LINE NO 930
 04.  HOME - LINE NO 1150
 05.  THU FEATURE - LINE NO 1280
 06.  THU FLIDE - LINE NO 1355
 07.  THU SERVICE - LINE NO 1385
 08.  PORTFOLIO - LINE NO 1444
 09.  THU SOLUTION - LINE NO 1620
 10.  THU TEAM - LINE NO 1658
 11.  THU CLIENTS FEEDBACK - LINE NO 1730
 12. THU BLOG - LINE NO 1848
 13. THU SUBCRIBS - LINE NO 1935
 14. FOOTER - LINE NO 2020
==========================================*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    font-size: 16px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
    font-family: 'Raleway', sans-serif;
	border-radius: 5px;
}

/*------------------------------------------------------------------*/
/*   IE10 in Windows 8 and Windows Phone 8 Bug fix
/*-----------------------------------------------------------------*/

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/*
    Page Content
------------------------------------------*/

.page-content, 
section { overflow: hidden; }

/*
    On Scroll Animations 
------------------------------------------*/

/*.animated { visibility: hidden; }
.visible { visibility: visible; }*/

/*
    Spacing & Alignment 
------------------------------------------*/

.roomy-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.roomy-80 {
    padding-top: 100px;
    padding-bottom: 80px;
}

.roomy-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.roomy-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.roomy-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.roomy-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}


/*text color*/

.text-muted{}
.text-primary{color: #00a885 !important;;}
.text-finence{color:#13A0B2 !important;;}
.text-mega{color:#00a885 !important;;}
.text-white{color:#fff !important;;}
.text-black{color:#16293b !important;}
.text-yellow{
    color:#ff2b88;
}

.disabled{
    cursor: not-allowed;
}

/*bacground color*/
.lightbg {
    background-color: #f2f2f2;
}
.bg-primary{background-color: #00a885;}
.bg-finence{background-color:#13A0B2;}
.bg-mega{background-color:#1b1b1b;}
.bg-grey{background-color: #fcfbf7;}
.bg-black{background-color: #222222;}
.bg-white{background-color: #fff;}
.bg-yellow{background-color: #ff2b88;}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
a {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
    background-color: transparent;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    /*    direction: rtl;*/
}

p {
    margin: 0 0 15px;
}

.clear {
    clear: both;
}

img {
    max-width: 50%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent;
    background-image: none;
    color: rgb(0, 0, 0);
}

.form-control{
    border-radius: 0px;
    border:1px solid #ccc;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    width: 100%;
    height: 50px;
}

.form-control:focus {
    border-color: #FF2786;
    outline: 0;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color:#1a1a1a;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h3 {
    font-size: 1.500rem;
    line-height: 2rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
h5 {
    font-size: 1.125rem;
    line-height: 1.575rem
}
h6 {
    font-size: 1rem;
}



h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
p span{
    color:#00a885;
}

p {
    line-height: 1.5rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*colors*/
.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}


/*
Section
*/

.parallax-section {
    max-width: 100%;
    color: #ffffff;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

.overlay {
    background-color: rgba(41, 39, 34, 0.55);
    width: 100%;
    height:100%;
    position: absolute;
    left:0;
    top: 0;
}




.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.left-no-padding {
    padding-left: 0 !important;
}
.right-no-padding {
    padding-right: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}


/*
Separator
*/

.separator{
    width:30px;
    height: 1px;
    background-color: #FF2786;
    margin:20px auto;
}


/*
Button
*/
.btn{
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    font-size:14px;
    font-weight: 600;
    border:1px solid;
    padding: 1rem 4rem;
}
.btn-primary{
    color: #333;
    background-color: #fff;
    border:1px solid;
    border-color: #fff;

}
.btn-primary:hover{
    background-color: #eee;
    border-color: #eee;
    color:#FF2786;
}

.btn-default{
    color: #7b8895;
    background-color: transparent;
    border:1px solid;
    border-color: #7b8895;
}
.btn-default:hover{
    color: #fff;
    background-color: #FF2786;
    border-color: #fff;
}





/*
socail icon
--------------------------------*/
/*
Extra height css
*/
.m-0{
    margin:0 !important;
}
.m-top-0{
    margin-top:0;
}
.m-r-0{
    margin-right: 0;
}
.m-l-0{
    margin-left: 0;
}
.m-b-0{
    margin-bottom: 0;
}

.m-r-15{
    margin-right: 15px;
}
.m-l-15{
    margin-left: 15px; 
}
.m-top-10 {
    margin-top: 10px;
}
.m-top-20 {
    margin-top: 20px;
}
.m-top-30 {
    margin-top: 30px;
}
.m-top-40 {
    margin-top: 40px;
}
.m-top-50 {
    margin-top: 50px;
}
.m-top-60 {
    margin-top: 60px;
}
.m-top-70 {
    margin-top: 70px;
}
.m-top-80 {
    margin-top: 80px;
}
.m-top-90 {
    margin-top: 90px;
}
.m-top-100 {
    margin-top: 100px;
}
.m-top-110 {
    margin-top: 110px;
}
.m-top-120 {
    margin-top: 120px;
}
.m-top-150 {
    margin-top: 150px;
}
.m-top-180 {
    margin-top: 180px;
}

.m-t-b-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.m-t-b-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.m-bottom-10 {
    margin-top: 10px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}
.m-bottom-30 {
    margin-bottom: 30px;
}

.m-bottom-40 {
    margin-bottom: 40px;
}

.m-bottom-60 {
    margin-bottom: 60px;
}

.m-bottom-70 {
    margin-bottom: 70px;
}

.m-bottom-80 {
    margin-bottom: 80px;
}

.m-bottom-90 {
    margin-bottom: 90px;
}

.m-bottom-100 {
    margin-bottom: 100px;
}

.m-bottom-110 {
    margin-bottom: 110px;
}

.m-bottom-120 {
    margin-bottom: 120px;
}

.m_t__b{
    margin: 14rem 0;
}
.p_t__b{
    padding: 6rem 0;
}

p-0{
    padding:0 !important;
}

.p-l-15{
    padding-left: 15px;
}

.p-r-15{
    padding-right: 15px;
}

.p-top-10 {
    padding-top: 10px;
}
.p-top-20 {
    padding-top: 1.33rem;
}

.p-bottom-20 {
    padding-bottom: 1.33rem;
}

.p-top-30 {
    padding-top: 1.875rem;
}

.p-bottom-30 {
    padding-bottom: 1.875rem;
}

.p-top-40 {
    padding-top: 2.66rem;
}

.p-bottom-40 {
    padding-bottom: 2.66rem;
}

.p-top-60 {
    padding-top: 5rem;
}

.p-bottom-60 {
    padding-bottom: 5rem;
}

.p-top-80 {
    padding-top: 5.714rem;
}

.p-bottom-80 {
    padding-bottom: 5.714rem;
}

.p-top-90 {
    padding-top: 6.429rem;
}

.p-bottom-90 {
    padding-bottom: 6.429rem;
}
.p-top-100 {
    padding-top: 100px;
}

.p-bottom-100 {
    padding-bottom: 100px;
}
.p-top-110 {
    padding-top: 110px;
}

.p-bottom-110 {
    padding-bottom: 110px;
}

.p-bottom-0 {
    padding-bottom: 0;
}

.p_l_r{
    padding-left: 5.714rem;
    padding-right: 5.714rem;
}

/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}

/*border*/
.no-border-top{
    border-top:0px solid transparent !important;
}
.no-border-rigth{
    border-right:0px solid transparent !important;
}

/*for placeholder changes*/

input[type="email"].form-control::-webkit-input-placeholder {
    color: #5a5a5a;
    background-color: transparent;
}

input::-webkit-input-placeholder {
    color: #5a5a5a;
}

input::-moz-placeholder {
    color: #5a5a5a;
}

input:-ms-input-placeholder {
    color: #5a5a5a;
}

input::placeholder {
    color: #5a5a5a;
}
input::-webkit-input-placeholder {
    color: #5a5a5a;
}
input::-moz-placeholder {
    color: #5a5a5a;
}
input::-ms-input-placeholder {
    color: #5a5a5a;
}
textarea::-webkit-input-placeholder{
    color: #5a5a5a;
    padding: 5px;
}
textarea::-moz-input-placeholder{
    color: #5a5a5a;
    padding: 5px;
}
textarea::-ms-input-placeholder{
    color: #5a5a5a;
    padding: 5px;
}

/*for image bg*/
/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/


.transform_scal_rotate:hover img{ 
    -webkit-transform: scale(1.1) rotate(4deg); 
    transform: scale(1.1) rotate(4deg); 
}

.culmn{
    width:100%;
    overflow: hidden;
}
.fix{
    overflow: hidden;
}
/*heading title all area*/
.head_title{
    padding-bottom: 2.143rem;
    overflow: hidden;
}
.head_title h2{
    font-weight: 400;
    font-size:2.250rem;
    color:#16293b;
    border-left:3px solid #FF2786;
    padding-left:15px;
}
.head_title h2 strong{
    font-weight: 700;
}
.head_title h5{
    font-weight: 400;
    font-size:1.125rem;
    color:#999999;
}

/*End off pridifain css*/



/*Preloader*/
#loading{
    background-color: #FF2786;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left:0;
    z-index: 9999;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 
    -webkit-animation: loading-center-absolute 1.5s infinite;
    animation: loading-center-absolute 1.5s infinite;

}
.object{
    width: 25px;
    height: 25px;
    background-color: #FFF;
    float: left;

}


#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}
#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
}
#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
}
#object_four {
    -webkit-animation: object_four 1.5s infinite;
    animation: object_four 1.5s infinite;
}


@-webkit-keyframes loading-center-absolute {
    100% { -webkit-transform: rotate(-45deg); }

}

@keyframes loading-center-absolute {
    100% { 
        transform:  rotate(-45deg);
        -webkit-transform:  rotate(-45deg);
    }
}



@-webkit-keyframes object_one {
    25% { -webkit-transform: translate(0,-50px) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }

}

@keyframes object_one {
    25% { 
        transform: translate(0,-50px) rotate(-180deg);
        -webkit-transform: translate(0,-50px) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}


@-webkit-keyframes object_two {
    25% { -webkit-transform: translate(50px,0) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_two {
    25% { 
        transform: translate(50px,0) rotate(-180deg);
        -webkit-transform: translate(50px,0) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}

@-webkit-keyframes object_three {
    25% { -webkit-transform: translate(-50px,0) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_three {
    25% { 
        transform:  translate(-50px,0) rotate(-180deg);
        -webkit-transform:  translate(-50px,0) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: rtranslate(0,0) rotate(-180deg);
    }
}


@-webkit-keyframes object_four {
    25% { -webkit-transform: translate(0,50px) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_four {
    25% { 
        transform: translate(0,50px) rotate(-180deg); 
        -webkit-transform: translate(0,50px) rotate(-180deg);  
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}
/*End off Preloader*/


/*
Nav Menu style
==================*/

.navbar-brand {
    padding: 30px 15px;
}
nav.navbar.bootsnav ul.nav li.active > a{
    color:#FF2786;
}
nav.navbar.bootsnav.no-background.white ul.nav > li > a {
    color: #FF2786;
}
nav.navbar.bootsnav.no-background.white ul.nav > li.active > a {
    color: #FF2786;
}

/*
Home Section style
==================*/

.home{
    background: url(../images/home-bg.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
    padding-top: 300px;
    padding-bottom: 320px;
    width:100%;
}
.home_text h1{
    font-size:100px;
    /*font-family: 'Kaushan Script', cursive;*/
    font-family: 'Arial Black', cursive;
    margin-bottom:20px;
    line-height: 105px;
}
.home_text h3{
    font-size:24px;
    font-family: 'Montserrat', sans-serif;

}




/*scrooldown
-------------------*/ 

@-webkit-keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
.mouse-scroll {
    position: absolute;
    left:48%;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #FFF;
    letter-spacing: 2px;
    bottom:5%;
    text-decoration: none;
    overflow: hidden;
}
.mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 46px;
    height: 73px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #FFF;
    border-radius: 23px;
}
.mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #FFF;
    border-radius: 50%;
    -webkit-animation: scroll-ani 4s linear infinite;
    -moz-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
}
.mouse-scroll .mouse-message {
    float: left;
    margin: -200px 0 0 7px;
    padding: 0;
    -webkit-animation: scroll-ani 4s linear infinite;
    -moz-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
    color:#fff;
}
.mouse-scroll:hover .mouse-message {
    margin-top: 0;
}



/*
Featured section style
========================*/
.about{

}
.main_about h1{
    font-family: 'Kaushan Script', cursive;
    font-size:60px;
    line-height: 60px;
}
.main_about h2{
    font-family: 'Droid Serif', serif;
    font-size:100px;
    line-height:100px;
}
.main_about h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size:30px;
    line-height: 40px;
    letter-spacing: 5px;
}


/*
Featured section style
========================*/
.features_item2_area{
    position: relative;
    width:100%;
}

.features_item2 h1{
    font-size:2.714rem;
}
.features_item2 h1 span{
    color:#fff;
}
.features_item2 p{
    font-size:1.571rem;
}

.divider_horizontal{
    position: absolute;
    left: 51%;
    top:10%;
    width:1px;
    height: 270px;
    background: #d0d4d9;
    z-index: 2;
}

.divider_vertical{
    position: absolute;
    left: 0%;
    top: 51%;
    width: 100%;
    height: 1px;
    background: #d0d4d9;
    z-index: 2;
    margin-top: 24%;
}
.features_item_text p{
    font-size:16px;
    font-weight: 500;
}


/*service Section
========================*/

.slid_shap{
    height: 40px;
    border-radius: 4px 4px 0px 0px;
    width:100%;
}

.service_slid {
    box-shadow: 0px 0px 8px -1px;
    border-radius: 4px 4px 0px 0px;
}

.service_slid .service_slid_item{
    background-color: #FF2786;
    padding: 70px 30px;
}

.service_slid .service_slid_text span.icon{
    font-size:8rem;
}
.service_slid .service_slid_text h5{
    font-size:18px;
    font-weight: 700;
}
.choose_mac .slick-arrow,
.service_slid .slick-arrow{
    position: absolute;
    top:40%;
    z-index: 1;
    border-radius: 50%;
    border:1px solid transparent;
    width:25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size:10px;
    cursor:pointer;
}
.choose_mac .nextprevleft,
.service_slid .nextprevleft{
    left:5%;
}
.choose_mac .nextprevright,
.service_slid .nextprevright{
    right:5%;
}


/*
tems Section style
=====================*/
.teams_item{}
.teams_item h4{
    font-size:16px;
    margin-bottom: 0px;
}
.teams_item h5{
    font-size:12px;
}
.teams_item ul li a i{
    color:#7b8895;
    transition: all 0.6s;
    font-size:16px;
}
.teams_item ul li a:hover i{
    color:#FF2786;
}
/*team Skill bar*/
.teamskillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#bdc3ca;
    height:3px;
    -webkit-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    transition-property:width, background-color;
}
.teamskillbar label{
    position: absolute;
    top:-25px;
    left:0;
}
.teamskillbar-bar {
    height:3px;
    width:0px;
    background:#FF2786;
    position: absolute;
    left:0px;
    top:0px;
}


/*Choose Section
======================*/
.choose_mac{
    background: url(../images/choose-mokup.png) no-repeat;
    background-size: cover;
    width: 600px;
    height: 365px;
}
.choose_mac .choose_slide {
    width: 76%;
    margin: 0 auto;
}
.choose_mac .choose_item {
    width:100%;
    margin:0 auto;
}
.choose_mac .choose_item img{
    width: 100%;
    display: inline-block;
    margin-left: 10px;
    margin-top: 15px;
}
.choose_item_text h6{
    font-weight: 700;
    font-size:16px;
}
.choose_item_text h6 i{
    margin-right:10px;
}
.choose_item_text p{
    margin-left: 27px;
}


/*========================================================================
                Portfolio Section Style
==========================================================================*/
.portfolio{
    overflow: hidden;
}

/* ---- button ---- */

.main-portfolio .button {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 10px;
    background: #EEE;
    border: none;
    border-radius: 4px;
    color: #222;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    outline:none;
}

.main-portfolio .btn:focus, 
.main-portfolio .btn:active:focus, 
.main-portfolio .btn.active:focus, 
.main-portfolio .btn.focus, 
.main-portfolio .btn:active.focus, 
.main-portfolio .btn.active.focus{
    outline: 0; 
    outline-offset:0; 
}

.main-portfolio .button:hover {
    background-color: #ffea97;
    color: #222;
}

.main-portfolio .button:active,
.main-portfolio .button.is-checked {
    background-color: #fddc57;
}

.main-portfolio .button.is-checked {
    color: black;
}





/* ---- isotope ---- */

.main-portfolio .grid {
    margin: 0;
    padding:0;
}

/* clear fix */
.main-portfolio .grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.main-portfolio .grid-item {
    position: relative;
    margin: 5px;
    width:372px;
    overflow: hidden;
}

/*.grid-item > * {
    margin: 0;
    padding: 0;
}*/

.main-portfolio .grid-item img{
    width:100%;
    height: 100%;
    transition: all 0.6s;

}

.main-portfolio .grid-item:hover img{
    transform: scale(1.1) ;
}

.main-portfolio .grid-item:hover .grid_hover_area{
    opacity: 1;
}

.main-portfolio .grid_hover_area {
    background-color: rgba(7,8,10,0.50);
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    width: 100%;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}

.main-portfolio .grid_hover_area .btn{
    padding:0.5rem 1rem;
}






/*Test Section
======================*/
.main_test{
    width: 100%;
    display: block;
}

.cbrand{
    position: relative;
}
.cbrand .cbrand_item{
    height: 120px;
}
.cbrand .cbrand_item img{
    opacity:0.6;
    transition: all 0.6s;
}
.cbrand .cbrand_item img{
    opacity:1;
}

.test_item1{
    padding: 0px 40px;
}
.main_test .item_img{
    float: left;
    display: inline-block;
    width:20%;
    margin-right: 10%;
}
.main_test .item_text{
    display: inline-block;
    width:70%;
}
.item_img{
    position: relative;
}
.item_img i{
    position: absolute;
    right: -25%;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #00a885;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
.test_item1 .item_img i{
    background-color: #fff;
    color: #ddd; 
}


/*Footer section*/
.divider{
    width:100%;
    height: 1px;
    background-color: #434769;
    display: inline-block;
}
.widget_ab_item_text h6{
    margin-bottom:5px;
}
.widget_item h5{
    font-weight: 700;
}
.widget_item .btn:hover{
    background-color: #0ec9a2;
}
.widget_item li a{
    color:#aaa;
}
.widget_item li a:hover{
    color:#FF2786;
}

.widget_latst_item_text p{
    margin-bottom: 0px;
    color:#aaaaaa;
	
}
.widget_service li i,
.widget_latst_item_text a{
    font-size:12px;
    color:#aaaaaa;
}
.widget_service li i{
    margin-right: 5px;
}
.widget_service li{
    font-size:13px;
    border-bottom: 1px dashed #aaa;
    padding-bottom: 10px;
}
.widget_newsletter li a:hover i,
.widget_latst_item_text:hover p,
.widget_service li:hover,
.widget_service li:hover i{
    color:#FF2786;
}

.widget_ab_item .item_icon,
.widget_latst_item .item_icon{
    float: left;
    width: 20%;
    display: inline-block;
    margin-right: 15px;
}
.widget_ab_item .widget_ab_item_text,
.widget_latst_item .widget_latst_item_text {
    display: inline-block;
    width: 70%;
}
.widget_ab_item .item_icon{
    float: left;
    width: 10%;
    display: inline-block;
    margin-right: 15px;
}
.widget_ab_item .widget_ab_item_text {
    display: inline-block;
    width: 80%;
}
.widget_newsletter .form-inline .form-group{
    display: block;
}
.widget_newsletter .form-control{
    width:80%;
    height: 40px;
    background-color: #1a1a1a;
    border-color:#333333;
    display: inline-block;
}
.widget_newsletter .btn{
    width: 18%;
    padding: 0.65rem 1.2rem;
    background-color: #444444;
    border-color:#444444;
    color:#fff;
    border-radius: 0;
    margin-left:-4px;
    display: inline-block;
    font-size: 12px;
}
.widget_newsletter .btn:hover{
    background-color: #FF2786;
    border-color:#fddc57;
    color:#333;
}
.widget_brand a{
    font-size:30px;
    font-weight: 800;
    color:#aaa;
}
.widget_newsletter li a i{
    color:#aaaz;
}


.main_footer i {
    padding: 0px 5px;
    color: #FF2786;
}